* {
  margin: 0;
  padding: 0;
}
@media screen and (min-device-width: 601px) {
  *::-webkit-scrollbar {
    width: 4px;
  }
  *::-webkit-scrollbar-track {
    box-shadow: var(--box-shadow-inset);
  }
  *::-webkit-scrollbar-thumb {
    border-radius: 2px;
    border: 3px solid transparent;
    background-color: var(--text-secondary);
  }
}

pre {
  margin: 0px !important;
  border-radius: 8px !important;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background: var(--bg-color);
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  padding: 0 4px;
  border-radius: 4px;
  background: #ccc;
  color: var(--primary);
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.theme--light {
  --code-bg: #f5f2f0;
  --bg-color: var(--light-bg);
  --text-shadow: var(--light-bg-light-shadow);
  --menu-text-color: var(--g-text-color-light);
  --menu-text-hover-color: var(--primary-dark);
  --text-secondary: var(--g-text-color-disabled-light);
  --box-shadow-inset-small: inset -1px -1px 1px var(--light-bg-light-shadow),
    inset 1px 1px 1px var(--light-bg-dark-shadow);
}

.theme--dark {
  --code-bg: #272822;
  --bg-color: var(--dark-bg);
  --text-shadow: var(--dark-bg-dark-shadow);
  --menu-text-color: var(--g-text-color-dark);
  --menu-text-hover-color: var(--primary-light);
  --text-secondary: var(--g-text-color-disabled-dark);
  --box-shadow-inset-small: inset -1px -1px 1px var(--dark-bg-light-shadow),
    inset 1px 1px 1px var(--dark-bg-dark-shadow);
}

main {
  min-height: 100vh;
  min-width: 100vw;
  background: var(--bg-color);
}

.my-3 {
  margin-top: 12px !important;
  margin-bottom: 12px !important;
}

.ma-auto {
  margin: auto !important;
}

.ma-3 {
  margin: 12px !important;
}

.ma-4 {
  margin: 16px !important;
}

.mt-4 {
  margin-top: 16px !important;
}

.mb-1 {
  margin-bottom: 4px !important;
}

.mb-2 {
  margin-bottom: 8px !important;
}

.mb-3 {
  margin-bottom: 12px !important;
}

.pa-4 {
  padding: 16px !important;
}

.pa-5 {
  padding: 20px !important;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.connect-btn button {
  text-transform: none;
}

.textfield>div,
.textfield input {
  width: 100%;
}